.c{
    background-image: url("../pics/background.jpg");
}
*{
    font-family: 'Anton', sans-serif;
}
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
.parallax-container {
    height: 30% ;
}
a{
    color: #000000;
}
a:hover{
    color: #0D47A1;
}
@media only screen and (max-width: 430px){
    .imagelargehead{
        display: none;
    }
}
@media only screen and (min-width: 430px){
    .imagehead{
        display: none;
    }
}
.back{
    background-image: url("../back.jpg");
}
.text-container{
    margin-left: 10%;
}
.spec-text{
    font-size: large;
}
.margin{
    margin-top: 3%;
}
.input-field label{
    font-size: small;
}
.desc{
    margin-left: 2%;
}

@media only screen and (max-width: 900px) {
    .visilarge{
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    .visi{
        display: none;
    }
}

