<div class="container">
    <div class="container">
        <h1 class="header center teal-text text-lighten-2 imagelargehead">Members</h1>
        <h1 class="header center teal-text text-lighten-2 imagehead">Members</h1>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="slider" height='500' transition='1000' slider>
                <ul class="slides">
                    <li>
                        <img class="responsive-img" src="aboutus.jpg"> <!-- random image -->
                    </li>
                    <li>
                        <img class="responsive-img" src="pollachi.jpg"> <!-- random image -->
                    </li>
                    <li>
                        <img class="responsive-img" src="poy.jpg"> <!-- random image -->
                    </li>
                    <li>
                        <img class="responsive-img" src="prabhu.jpg"> <!-- random image -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h1 class="header deep-purple-text">Instructors</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h1 class="materialize-red-text">Students</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="ins.jpg">
                    </div>
                    <div class="card-content">
                        <p>This is Ms.Shirley Setia, the cutest singer on the whole india with so sweet voice. Her talents are formiddable and she has ung many songsssss..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>