<div class="container">
    <h2 class="header center materialize-red-text text-lighten-2 imagelargehead">Queries</h2>
    <h2 class="header center materialize-red-text text-lighten-2 imagehead">Queries</h2>
</div>
<div class="container">
    <div class="divider"></div>
</div>
<div class="container">
    <div class="section">
        <h4 class="teal-text"><span>Contact Us</span></h4>
    </div>
    <div class="text-container">
        <span class="lime-text spec-text">You can place any kind of queries through this form. We respond quickly as much as possible. Feel free to contact us.</span>
    </div>
    <div class="container margin">
        <div class="row">
            <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" class="validate" type="text">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">email</i>
                <input id="email" class="validate" type="email">
                <label for="email" data-error="not a valid mail">Mail</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">location_on</i>
                <input id="address" class="validate" type="text">
                <label for="address">Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">note_add</i>
                <textarea id="comments" class="materialize-textarea"></textarea>
                <label for="comments">Comments</label>
            </div>
        </div>
        <div class="row">
                <a class="btn-floating btn-large waves-effect waves-light purple" tooltipped data-tooltip="Send" style=" float:right"><i class="material-icons">send</i></a>
        </div>
    </div>
</div>