<div class="container">
    <div class="container">
        <h1 class="header center teal-text text-lighten-2 imagelargehead">Photo Gallery</h1>
        <h1 class="header center teal-text text-lighten-2 imagehead">Gallery</h1>
    </div>
    <div class="row">
        <div class="col s12 m4 l6 xl12 modal-trigger">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4 l6 xl12 ">
            <a href="pollachi.jpg">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="poy.jpg"  style="height: 100%;width: 100%">
                    </div>
                    <div class="card-content">
                        <p>Photo was taken during SoShihan's visit to India at Pollachi Dojo</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>